---
---

@charset "UTF-8";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.card.medium {
  .card-image {
    max-height: 100%;
    height: 220px;
    img {
      object-fit: cover;
      object-position: 0 0;
      height: 220px;
    }
  }
}

.slides img {
  object-fit: cover;
  object-position: 0 0;
}

img.cover {
  height: 100%;
  max-height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: 0 0;
}

$author_margin: 10px;
div.author {
  margin-right: $author_margin;
  margin-left: $author_margin;
}

p {
    text-align: justify;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/material-icons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}