<header>
    <nav>
        <div class="nav-wrapper deep-orange darken-1">
            <a href="/" class="brand-logo center"><i class="material-icons">cloud</i> {{site.title}}</a>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                {% for link in site.navigation %}
                {% if page.url == link.url %}<li class="active">{% else %}<li>{% endif %}<a href="{{ link.url | prepend: site.baseurl }}">{{ link.text }}</a></li>
                {% endfor %}
            </ul>
            <ul class="sidenav" id="nav-mobile">
                {% for link in site.navigation %}
                {% if page.url == link.url %}<li class="active">{% else %}<li>{% endif %}<a href="{{ link.url | prepend: site.baseurl }}">{{ link.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </nav>
</header>
